# Extracting data from relational database

### Author: Prasad

## SQLite Database

In [1]:
# import sqlite3 package
import sqlite3

#### connect to database

In [3]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("prasli.db")
connection.close()

### create table

In [6]:
# open connection
connection = sqlite3.connect("prasli.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """CREATE TABLE employee1(
                    Employee_id INTEGER PRIMARY KEY,
                    Name VARCHAR(10),
                    Age INTEGERE,
                    Phone NUMBER(10));"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

### insert data

In [8]:
# sample data
employee_data = [( 1,'Prasad', 23, 8277358296 ),
                ( 2, 'naveen', 25, 1234567890 )]

# open connection
connection = sqlite3.connect("prasli.db")

# open cursor
cursor = connection.cursor()

# insert each employee record
for data in employee_data:
    # formated query string
    inserted_data = """INSERT INTO employee1(Employee_id, Name, Age, Phone) VALUES({0}, '{1}', {2}, {3});""".format(data[0], data[1], data[2], data[3])
    
    # execute insert query
    cursor.execute(inserted_data)
    
# commit changes
connection.commit()

# close connection
connection.close()

### extract data

In [9]:
# open connection
connection = sqlite3.connect("prasli.db")

# open cursor
cursor = connection.cursor()

# query
query = "SELECT * FROM employee1"

# execute query
cursor.execute(query)

# fetch results
result = cursor.fetchall()

# print result
for row in result:
    print(row)

# close connection
connection.close()

(1, 'Prasad', 23, 8277358296)
(2, 'naveen', 25, 1234567890)

## MySQL database

In [21]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (0.9.3)

### import package

In [22]:
import pymysql

### connect to database

In [25]:
# connection details

cnx ={'host': 'database-1.csjna758twxz.ap-south-1.rds.amazonaws.com',
     'username': 'admin',
     'password': 'admin1234',
     'db': 'prasliDB'}

# connect to the database
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

# close connection 
connection.close()

### create table

In [35]:
# connect to the database
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

# open cursor
cursor = connection.cursor()

# create table query
create_table = """CREATE TABLE employee1(
                    Employee_id INT,
                    Name VARCHAR(10),
                    Age INT,
                    Phone VARCHAR(10));"""

# execute query
cursor.execute(create_table)

# commit
connection.commit()

# close connection 
connection.close()

### insert data to database

In [38]:
# sample data
employee_data =[(1, 'prasad', 23, '8277358296'),
               (2, 'naveen', 24, '8310125789')]

# connect to the database
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

# open cursor
cursor = connection.cursor()

for data in employee_data:
    # format data
    format_data = """INSERT INTO employee1(Employee_id, Name, Age, Phone) VALUES({0}, '{1}', {2},'{3}');""".format(data[0], data[1], data[2], data[3])
    
    # execute query
    cursor.execute(format_data)

# commit the changes
connection.commit()

# close connection
connection.close()

### extract data

In [39]:
# connect to the database
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

# open cursor
cursor = connection.cursor()

# select query
select_data = "SELECT * FROM employee1"

# execute query
cursor.execute(select_data)

# fetch data
result = cursor.fetchall()

# print data
for row in result:
    print(row)

# close connection
connection.close()

(1, 'prasad', 23, '8277358296')
(2, 'naveen', 24, '8310125789')